<p id="notice"><%= notice %></p>

<h1>Budget Goals</h1>

<%= link_to 'New Budget Goal', new_budget_goal_path %>

<p>Total Available to Budget: <%= current_user.home_asset_type.to_currency(current_user.forecast_register.sort_by { |key, v| v[:running_total] }.first[1][:running_total]) %></p>

<% @accounts.each do |account| %>

<h2><%= account.name %></h2>
<p>Available to Budget: <%= current_user.home_asset_type.to_currency(account.available_to_budget) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount Remaining</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% account.budget_goals.each do |budget_goal| %>
      <tr>
        <td><%= budget_goal.name %></td>
        <td><%= current_user.home_asset_type.to_currency(budget_goal.remaining_amount) %></td>
        <td><%= link_to 'Show', budget_goal %></td>
        <td><%= link_to 'Edit', edit_budget_goal_path(budget_goal) %></td>
        <td><%= link_to 'Destroy', budget_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

