<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget_goal.name %>
</p>

<p>
  <strong>Associated Account:</strong>
  <%= @budget_goal.account.name %>
</p>

<p>
  <strong>Budgeted Amount:</strong>
  <%= current_user.home_asset_type.to_currency(@budget_goal.budgeted_amount) %>
</p>

<p>
  <strong>Remaining Amount:</strong>
  <%= current_user.home_asset_type.to_currency(@budget_goal.remaining_amount) %>
</p>

<%= link_to 'Edit', edit_budget_goal_path(@budget_goal) %> |
<%= link_to 'Back', budget_goals_path %>

<table>
	<tr>
	<th>Date</th>
	<th>Description</th>
	<th>Debit</td>
	<th>Credit</th>
	<th></th>
	</tr>
    <% @budget_goal.ledger_entries.each do |ledger_entry| %>
<% if !ledger_entry.date.nil? %>
<tr>
	<td><%= ledger_entry.date %></td>
	<td><%= ledger_entry.parent_transaction.description %></td>
	<td><%= current_user.home_asset_type.to_currency(ledger_entry.debit) %></td>
	<td><%= current_user.home_asset_type.to_currency(ledger_entry.credit) %></td>
    <td><%= link_to 'Edit', ledger_entry.parent_transaction %></td>
</tr>
<% end %>
	<% end %>
</table>
