<% days_to_lean_fi = current_user.years_to_fi(current_user.aggregate_amounts[:lean_fi_expenses]) * 365 %>
<% days_to_full_fi = current_user.years_to_fi(current_user.aggregate_amounts[:post_fi_expenses]) * 365 %>
<% days_per_dollar = (days_to_full_fi - days_to_lean_fi) / (current_user.aggregate_amounts[:post_fi_expenses_pre_tax] - current_user.aggregate_amounts[:lean_fi_expenses_pre_tax]) %>
<p>Days to Lean FI: <%= days_to_lean_fi %></p>
<p>Days to Full FI: <%= days_to_full_fi %></p>
<table>
	<thead>
		<tr>
			<th>Expense</th>
			<th>Rolling Month's Spending</th>
			<th>Average Monthly Spending</th>
			<th>Days of Work</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.expense_accounts.each do |a| %>
		<tr>
			<td><%= a.name %></td>
			<td><%= current_user.home_asset_type.to_currency(a.last_months_spending(current_user.home_asset_type)) %></td>
			<td><%= current_user.home_asset_type.to_currency(a.average_monthly_spending(current_user.home_asset_type)) %></td>
			<td><%= a.post_fi_expense? ? (12 * days_per_dollar * ([0, a.average_monthly_spending(current_user.home_asset_type) - a.fi_budget].max)).round(0) : 0 %>
		</tr>
		<% end %>
	</tbody>
</table>
