<p>Lean FI Date: <%= current_user.fi_date(current_user.aggregate_amounts[:lean_fi_expenses]) %></p>
<p>Full FI Date: <%= current_user.fi_date %></p>
<table>
	<thead>
		<tr>
			<th>Expense</th>
			<th>Rolling Month's Spending</th>
			<th>Average Monthly Spending</th>
			<th>Days of Work</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.expense_accounts.each do |a| %>
		<tr>
			<td><%= a.name %></td>
			<td><%= current_user.home_asset_type.to_currency(a.last_months_spending(current_user.home_asset_type)) %></td>
			<td><%= current_user.home_asset_type.to_currency(a.average_monthly_spending(current_user.home_asset_type)) %></td>
			<td><%= current_user.days_of_work(a) %>
		</tr>
		<% end %>
	</tbody>
</table>
