<p>Available to Spend: <%= current_user.home_asset_type.to_currency(current_user.available_to_spend) %></p>
<p>Assets: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:assets]) %></p>
<p>Liabilities: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:liabilities]) %></p>
<p>Net Worth: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:net_worth]) %></p>
<p>Average Rate of Return: <%= (current_user.aggregate_amounts[:average_rate_of_return] * 100).round(2) %>%</p>
<p>Annual Post-FI Expenses: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:post_fi_expenses]) %></p>
<p>Annual Active Income: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:active_income]) %></p>
<p>Annual Expenses: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:expenses]) %></p>
<table>
	<thead>
		<tr>
			<th>Expense</th>
			<th>Rolling Month's Spending</th>
			<th>Average Monthly Spending</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.expense_accounts.each do |a| %>
		<tr>
			<td><%= a.name %></td>
			<td><%= current_user.home_asset_type.to_currency(a.last_months_spending(current_user.home_asset_type)) %></td>
			<td><%= current_user.home_asset_type.to_currency(a.average_monthly_spending(current_user.home_asset_type)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<p>Annual Savings: <%= current_user.home_asset_type.to_currency(current_user.aggregate_amounts[:savings]) %></p>
<p>Savings Rate: <%= (current_user.aggregate_amounts[:savings] / current_user.aggregate_amounts[:active_income] * 100).round %>%</p>
<p>FI Target: <%= current_user.home_asset_type.to_currency(current_user.fi_target) %></p>
<p>Years to FI: <%= current_user.years_to_fi %></p>
<p>FI Date: <%= current_user.fi_date.to_formatted_s(:long_ordinal) if current_user.fi_date.present? %></p>
