<p>Income: <%= current_user.home_asset_type.to_currency(@taxable_income) %></p>
<p>Deductions: <%= current_user.home_asset_type.to_currency(@deductions) %></p>
<p>Projected Taxable Income: <%= current_user.home_asset_type.to_currency(@projected_taxable) %></p>
<p>Projected Dividends & Long-Term Capital Gains: <%= current_user.home_asset_type.to_currency(@projected_div_cap_gains)%>
<p>Target Taxable Income: <%= current_user.home_asset_type.to_currency(16240 * 3)%></p>
<p>Current Difference from Target: <%= current_user.home_asset_type.to_currency(@taxable_income - @deductions - 16240 * 3) %></p>
<p>Projected Difference from Target: <%= current_user.home_asset_type.to_currency(@projected_taxable - 16240 * 3) %></p>
<h2>Federal Taxes</h2>
<p>Projected Tax: <%= current_user.home_asset_type.to_currency(@projected_fed_tax) %></p>
<p>Taxes Witheld: <%= current_user.home_asset_type.to_currency(@fed_taxes_witheld) %></p>
<p>Projected Taxes Owed: <%= current_user.home_asset_type.to_currency(@projected_fed_tax - @fed_taxes_witheld) %></p>
<h2>State Taxes</h2>
<p>Projected Tax: <%= current_user.home_asset_type.to_currency(@projected_state_tax) %></p>
<p>Taxes Witheld: <%= current_user.home_asset_type.to_currency(@state_taxes_witheld) %></p>
<p>Projected Taxes Owed: <%= current_user.home_asset_type.to_currency(@projected_state_tax - @state_taxes_witheld) %></p>
<h2>Source Data:</h2>
<% @taxable_amounts.each do |account,amount| %>
<p><%= account %>: <%= current_user.home_asset_type.to_currency(amount) %></p>
<% end %>